body{
    background-color: #2C3333;
}
.pos{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
button{
    text-align: center;
    padding: 2%;
    border-radius: 8%;
    font-size: 24px;
    background-color:#1F6E8C ;
    color: white;
    height: 40px;
    width: 132px;
    font-family: 24px sans-serif;
    padding: 8px 16px;
    vertical-align: middle;
}
video{
    position:relative;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: #fff;
    object-fit: cover;

}
.pos2{
    text-align: center;
}